In [ ]:
# Para conectar con un servidor de BBDD, necesitamos una cadena de consexión. Habrá que indicar: 
# Nombre del servidor, Protocolo de conexión. 
# Instalar y llamar a una librería para conectar (pyodbc: normalmente se usa para backend) o SQLAlchemy

In [1]:
# Para instalar la librería pyodbc:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

In [9]:
import pyodbc 
import pandas as pd
#Configuración de la conexión
server = 'SergioPC\SQLEXPRESS'  #Nombre del servidor - (Desde propiedades de SQL Studio se puede copiar el nombre del servidor.)
database = 'CIBERNARIUM'        #Nombre de la BBDD
trusted = 'yes'                 #Seguridad de Windows - Windows Trusted server certificate

#Vamos a crear la cadena de conexión: con una f'', puedo tener un texto formateado, y me va a permitir (entre llaves) poner el 
# nombre de una variable
conn = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'TRUSTED_CONNECTION={trusted};'
)

# El objeto conexión es la BBDD Cibernarium, que primero necesita conectarse mediante la cadena conexión
conexion = pyodbc.connect(conn)
#Cargamos en un dataframe lo que lee de la tabla
df = pd.read_sql('SELECT * FROM dbo.Categorías', conexion)

display(df)

<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
C:\Users\sergi\AppData\Local\Temp\ipykernel_32712\3985674933.py:4: SyntaxWarning: invalid escape sequence '\S'
  server = 'SergioPC\SQLEXPRESS'  #Nombre del servidor - (Desde propiedades de SQL Studio se puede copiar el nombre del servidor.)
C:\Users\sergi\AppData\Local\Temp\ipykernel_32712\3985674933.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM dbo.Categorías', conexion)

,IdCategoria,NombreCategoria,Descripcion
0,1,Bebidas,"Gaseosas, café, té, cervezas y maltas"
1,2,Condimentos,"Salsas dulces y picantes, delicias, comida par..."
2,3,Repostería,"Postres, dulces y pan dulce"
3,4,Lácteos,Quesos
4,5,Granos/Cereales,"Pan, galletas, pasta y cereales"
5,6,Carnes,Carnes preparadas
6,7,Frutas/Verduras,Frutas secas y queso de soja
7,8,Pescado/Marisco,"Pescados, mariscos y algas"