In [ ]:
# Para conectar con un servidor de BBDD, necesitamos una cadena de consexión. Habrá que indicar: 
# Nombre del servidor, Protocolo de conexión. 
# Instalar y llamar a una librería para conectar (pyodbc: normalmente se usa para backend) o SQLAlchemy

In [1]:
# Para instalar la librería pyodbc:
!pip install pyodbc

Collecting pyodbc
  Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl.metadata (2.8 kB)
Downloading pyodbc-5.2.0-cp312-cp312-win_amd64.whl (69 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-5.2.0

In [9]:
import pyodbc 
import pandas as pd
#Configuración de la conexión
server = 'SergioPC\SQLEXPRESS'  #Nombre del servidor - (Desde propiedades de SQL Studio se puede copiar el nombre del servidor.)
database = 'CIBERNARIUM'        #Nombre de la BBDD
trusted = 'yes'                 #Seguridad de Windows - Windows Trusted server certificate

#Vamos a crear la cadena de conexión: con una f'', puedo tener un texto formateado, y me va a permitir (entre llaves) poner el 
# nombre de una variable
conn = (
    f'DRIVER={{SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'TRUSTED_CONNECTION={trusted};'
)

# El objeto conexión es la BBDD Cibernarium, que primero necesita conectarse mediante la cadena conexión
conexion = pyodbc.connect(conn)
#Cargamos en un dataframe lo que lee de la tabla
df = pd.read_sql('SELECT * FROM dbo.Categorías', conexion)

display(df)

<>:4: SyntaxWarning: invalid escape sequence '\S'
<>:4: SyntaxWarning: invalid escape sequence '\S'
C:\Users\sergi\AppData\Local\Temp\ipykernel_32712\3985674933.py:4: SyntaxWarning: invalid escape sequence '\S'
  server = 'SergioPC\SQLEXPRESS'  #Nombre del servidor - (Desde propiedades de SQL Studio se puede copiar el nombre del servidor.)
C:\Users\sergi\AppData\Local\Temp\ipykernel_32712\3985674933.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql('SELECT * FROM dbo.Categorías', conexion)

,IdCategoria,NombreCategoria,Descripcion
0,1,Bebidas,"Gaseosas, café, té, cervezas y maltas"
1,2,Condimentos,"Salsas dulces y picantes, delicias, comida par..."
2,3,Repostería,"Postres, dulces y pan dulce"
3,4,Lácteos,Quesos
4,5,Granos/Cereales,"Pan, galletas, pasta y cereales"
5,6,Carnes,Carnes preparadas
6,7,Frutas/Verduras,Frutas secas y queso de soja
7,8,Pescado/Marisco,"Pescados, mariscos y algas"

In [11]:
#Para conectarnos a un fichero de Excel, tenemos que instalar y llamar a una librería que se llama openpyxl:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

In [ ]:
import pandas as pd
#Cargaremos las ventas de un archivo Excel
ventas_agosto = pd.read_excel(r"C:\Users\sergi\Desktop\Python\BBDD\VentasGroucery_Meses.xlsx", 
                             sheet_name="Ventas Agosto 2014" ) #indicamos qué hoja del documento cogemos
display(ventas_agosto)

ventas_septiembre = pd.read_excel(r"C:\Users\sergi\Desktop\Python\BBDD\VentasGroucery_Meses.xlsx", 
                             sheet_name="Ventas Septiembre 2014" ) #indicamos qué hoja del documento cogemos
display(ventas_septiembre)

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05
5,10250,Louisiana Fiery Hot Pepper Sauce,Condiments,16.8,15,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
6,10250,Jack's New England Clam Chowder,Seafood,7.7,10,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
7,10250,Manjimup Dried Apples,Produce,42.4,35,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-08
8,10251,Louisiana Fiery Hot Pepper Sauce,Condiments,16.8,20,Victuailles en stock,Lyon,France,2014-08-08
9,10251,Gustaf's Knäckebröd,Grains/Cereals,16.8,6,Victuailles en stock,Lyon,France,2014-08-08
10,10251,Ravioli Angelo,Grains/Cereals,15.6,15,Victuailles en stock,Lyon,France,2014-08-08
11,10252,Sir Rodney's Marmalade,Confections,64.8,40,Suprêmes délices,Charleroi,Belgium,2014-08-09
12,10252,Geitost,Dairy Products,2.0,25,Suprêmes délices,Charleroi,Belgium,2014-08-09
13,10252,Camembert Pierrot,Dairy Products,27.2,40,Suprêmes délices,Charleroi,Belgium,2014-08-09
14,10253,Maxilaku,Confections,16.0,40,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-10
15,10253,Chartreuse verte,Beverages,14.4,42,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-10
16,10253,Gorgonzola Telino,Dairy Products,10.0,20,Hanari Carnes,Rio de Janeiro,Brazil,2014-08-10
17,10254,Pâté chinois,Meat/Poultry,19.2,21,Chop-suey Chinese,Bern,Switzerland,2014-08-11
18,10254,Longlife Tofu,Produce,8.0,21,Chop-suey Chinese,Bern,Switzerland,2014-08-11
19,10254,Guaraná Fantástica,Beverages,3.6,15,Chop-suey Chinese,Bern,Switzerland,2014-08-11
20,10255,Raclette Courdavault,Dairy Products,44.0,30,Richter Supermarkt,Genève,Switzerland,2014-08-12
21,10255,Chang,Beverages,15.2,20,Richter Supermarkt,Genève,Switzerland,2014-08-12
22,10255,Pavlova,Confections,13.9,35,Richter Supermarkt,Genève,Switzerland,2014-08-12
23,10255,Inlagd Sill,Seafood,15.2,25,Richter Supermarkt,Genève,Switzerland,2014-08-12
24,10256,Perth Pasties,Meat/Poultry,26.2,15,Wellington Importadora,Resende,Brazil,2014-08-15
25,10256,Original Frankfurter grüne Soße,Condiments,10.4,12,Wellington Importadora,Resende,Brazil,2014-08-15
26,10257,Schoggi Schokolade,Confections,35.1,25,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16
27,10257,Chartreuse verte,Beverages,14.4,6,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16
28,10257,Original Frankfurter grüne Soße,Condiments,10.4,15,HILARIÓN-Abastos,San Cristóbal,Venezuela,2014-08-16
29,10258,Chang,Beverages,15.2,50,Ernst Handel,Graz,Austria,2014-08-17
30,10258,Chef Anton's Gumbo Mix,Condiments,17.0,65,Ernst Handel,Graz,Austria,2014-08-17
31,10258,Mascarpone Fabioli,Dairy Products,25.6,6,Ernst Handel,Graz,Austria,2014-08-17
32,10259,Sir Rodney's Scones,Confections,8.0,10,Centro comercial Moctezuma,México D.F.,Mexico,2014-08-18
33,10259,Gravad lax,Seafood,20.8,1,Centro comercial Moctezuma,México D.F.,Mexico,2014-08-18
34,10260,Jack's New England Clam Chowder,Seafood,7.7,16,Ottilies Käseladen,Köln,Germany,2014-08-19
35,10260,Ravioli Angelo,Grains/Cereals,15.6,50,Ottilies Käseladen,Köln,Germany,2014-08-19
36,10260,Tarte au sucre,Confections,39.4,15,Ottilies Käseladen,Köln,Germany,2014-08-19
37,10260,Outback Lager,Beverages,12.0,21,Ottilies Käseladen,Köln,Germany,2014-08-19
38,10261,Sir Rodney's Scones,Confections,8.0,20,Que Delícia,Rio de Janeiro,Brazil,2014-08-19
39,10261,Steeleye Stout,Beverages,14.4,20,Que Delícia,Rio de Janeiro,Brazil,2014-08-19
40,10262,Chef Anton's Gumbo Mix,Condiments,17.0,12,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-08-22
41,10262,Uncle Bob's Organic Dried Pears,Produce,24.0,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-08-22
42,10262,Gnocchi di nonna Alice,Grains/Cereals,30.4,2,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-08-22
43,10263,Pavlova,Confections,13.9,60,Ernst Handel,Graz,Austria,2014-08-23
44,10263,Guaraná Fantástica,Beverages,3.6,28,Ernst Handel,Graz,Austria,2014-08-23
45,10263,Nord-Ost Matjeshering,Seafood,20.7,60,Ernst Handel,Graz,Austria,2014-08-23
46,10263,Longlife Tofu,Produce,8.0,36,Ernst Handel,Graz,Austria,2014-08-23
47,10264,Chang,Beverages,15.2,35,Folk och fä HB,Bräcke,Sweden,2014-08-24
48,10264,Jack's New England Clam Chowder,Seafood,7.7,25,Folk och fä HB,Bräcke,Sweden,2014-08-24
49,10265,Alice Mutton,Meat/Poultry,31.2,30,Blondel père et fils,Strasbourg,France,2014-08-25
50,10265,Outback Lager,Beverages,12.0,20,Blondel père et fils,Strasbourg,France,2014-08-25
51,10266,Queso Manchego La Pastora,Dairy Products,30.4,12,Wartian Herkku,Oulu,Finland,2014-08-26
52,10267,Boston Crab Meat,Seafood,14.7,50,Frankenversand,München,Germany,2014-08-29
53,10267,Raclette Courdavault,Dairy Products,44.0,70,Frankenversand,München,Germany,2014-08-29
54,10267,Lakkalikööri,Beverages,14.4,15,Frankenversand,München,Germany,2014-08-29
55,10268,Thüringer Rostbratwurst,Meat/Poultry,99.0,10,GROSELLA-Restaurante,Caracas,Venezuela,2014-08-30
56,10268,Mozzarella di Giovanni,Dairy Products,27.8,4,GROSELLA-Restaurante,Caracas,Venezuela,2014-08-30
57,10269,Geitost,Dairy Products,2.0,60,White Clover Markets,Seattle,USA,2014-08-31
58,10269,Mozzarella di Giovanni,Dairy Products,27.8,20,White Clover Markets,Seattle,USA,2014-08-31

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date
0,10270,Ipoh Coffee,Beverages,36.8,25,Wartian Herkku,Oulu,Finland,2014-09-01
1,10270,Inlagd Sill,Seafood,15.2,30,Wartian Herkku,Oulu,Finland,2014-09-01
2,10271,Geitost,Dairy Products,2.0,24,Split Rail Beer & Ale,Lander,USA,2014-09-01
3,10272,Sir Rodney's Marmalade,Confections,64.8,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-02
4,10272,Gorgonzola Telino,Dairy Products,10.0,40,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-02
5,10272,Mozzarella di Giovanni,Dairy Products,27.8,24,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-02
6,10273,Boston Crab Meat,Seafood,14.7,60,QUICK-Stop,Cunewalde,Germany,2014-09-05
7,10273,Geitost,Dairy Products,2.0,20,QUICK-Stop,Cunewalde,Germany,2014-09-05
8,10273,Gorgonzola Telino,Dairy Products,10.0,15,QUICK-Stop,Cunewalde,Germany,2014-09-05
9,10273,Ikura,Seafood,24.8,24,QUICK-Stop,Cunewalde,Germany,2014-09-05
10,10273,Lakkalikööri,Beverages,14.4,33,QUICK-Stop,Cunewalde,Germany,2014-09-05
11,10274,Fløtemysost,Dairy Products,17.2,20,Vins et alcools Chevalier,Reims,France,2014-09-06
12,10274,Mozzarella di Giovanni,Dairy Products,27.8,7,Vins et alcools Chevalier,Reims,France,2014-09-06
13,10275,Guaraná Fantástica,Beverages,3.6,12,Magazzini Alimentari Riuniti,Bergamo,Italy,2014-09-07
14,10275,Raclette Courdavault,Dairy Products,44.0,6,Magazzini Alimentari Riuniti,Bergamo,Italy,2014-09-07

In [19]:
#juntaremos con concat
bimensual = pd.concat([ventas_agosto, ventas_septiembre],ignore_index=True)
bimensual.info()
#Vamos a crear el campo Amount
bimensual['Amount'] = bimensual['Unit Price']*bimensual['Quantity']
display(bimensual)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128 entries, 0 to 127
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Order ID      128 non-null    int64
 1   Product       128 non-null    object
 2   Category      128 non-null    object
 3   Unit Price    128 non-null    float64
 4   Quantity      128 non-null    int64
 5   Customer      128 non-null    object
 6   Ship City     128 non-null    object
 7   Ship Country  128 non-null    object
 8   Order Date    128 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(2), object(5)
memory usage: 9.1+ KB

,Order ID,Product,Category,Unit Price,Quantity,Customer,Ship City,Ship Country,Order Date,Amount
0,10248,Singaporean Hokkien Fried Mee,Grains/Cereals,9.8,1,Vins et alcools Chevalier,Reims,France,2014-08-04,9.8
1,10248,Mozzarella di Giovanni,Dairy Products,34.8,5,Vins et alcools Chevalier,Reims,France,2014-08-04,174.0
2,10248,Queso Cabrales,Dairy Products,14.0,12,Vins et alcools Chevalier,Reims,France,2014-08-04,168.0
3,10249,Tofu,Produce,18.6,9,Toms Spezialitäten,Münster,Germany,2014-08-05,167.4
4,10249,Manjimup Dried Apples,Produce,42.4,40,Toms Spezialitäten,Münster,Germany,2014-08-05,1696.0
...,...,...,...,...,...,...,...,...,...,...
123,10294,Camembert Pierrot,Dairy Products,27.2,21,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,571.2
124,10294,Rhönbräu Klosterbier,Beverages,6.2,6,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,37.2
125,10294,Ipoh Coffee,Beverages,36.8,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,552.0
126,10294,Alice Mutton,Meat/Poultry,31.2,15,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,468.0
127,10294,Chai,Beverages,14.4,18,Rattlesnake Canyon Grocery,Albuquerque,USA,2014-09-30,259.2

In [ ]:
#Como agrupar por categorías y ver la metrica escogida
#Por ejemplo, queremos ver la suma Amount por país (Country)
bimensual.groupby(['Category']).Amount.sum()
#Mediante groupby le decimos sobre qué queremos agrupar y hacer la suma de todos sus campos dentro del grupo.

#de cada categoría, de cada país dentro de cada categoría, dime cuantas líneas (pedidos) tiene cada uno.
bimensual.groupby(['Category', 'Ship Country']).Amount.count()

Category   Ship Country
Beverages  Austria         2
           Brazil          3
           Finland         1
           France          1
           Germany         6
                          ..
Seafood    Germany         5
           Mexico          4
           Spain           1
           Sweden          2
           Switzerland     1
Name: Amount, Length: 68, dtype: int64

In [ ]:
#Correcciones profesor: 
import pandas as pd

agosto2014 = pd.read_excel(r"C:\Users\sergi\Desktop\Python\BBDD\VentasGroucery_Meses.xlsx", 
                             sheet_name="Ventas Agosto 2014" ) 

septiembre2014 = pd.read_excel(r"C:\Users\sergi\Desktop\Python\BBDD\VentasGroucery_Meses.xlsx", 
                             sheet_name="Ventas Septiembre 2014" ) 

octubre2014 = pd.read_excel(r"C:\Users\sergi\Desktop\Python\BBDD\VentasGroucery_Meses.xlsx", 
                             sheet_name="Ventas Octubre 2014" ) 
#Crear el dataframe trimestre2014
trimestre2014 = pd.concat([agosto2014,septiembre2014,octubre2014],ignore_index=True)
#Calcular la columna Amount
trimestre2014['Amount'] = trimestre2014['Unit Price']*trimestre2014['Quantity']
#Crear una columna Enterprise
trimestre2014['Enterprise'] = "Delta Enterprise"
#La función que me de el descuento, en función France o Germany
def descuento(Pais):
    if (Pais=="France") or (Pais=="Germany"):
        return 0.035  #Equivale al 3,50%
    else:
        return 0.0475 #Equivale al 4,75%
#Crear la columna Discount
trimestre2014['Discount'] = round(trimestre2014['Ship Country'].apply(descuento)*trimestre2014['Amount'],2)    
trimestre2014['Discount']
#Nuevo dataframe
trimestre2014BS = trimestre2014[(trimestre2014['Category']=="Beverages")|(trimestre2014['Category']=="Seafood")]
trimestre2014BS
#la primera agrupación la suma de Amonut agrupada por Ship Country y Ship City
trimestre2014BS.groupby(['Ship Country','Ship City']).Amount.sum()
#Segunda agrupación ver el promedio del precio Unidad agrupado por Product
trimestre2014BS.groupby(['Product'])['Unit Price'].mean()

Product
Boston Crab Meat                   14.7
Carnarvon Tigers                   50.0
Chai                               14.4
Chang                              15.2
Chartreuse verte                   14.4
Escargots de Bourgogne             10.6
Gravad lax                         20.8
Guaraná Fantástica                  3.6
Ikura                              24.8
Inlagd Sill                        15.2
Ipoh Coffee                        36.8
Jack's New England Clam Chowder     7.7
Konbu                               4.8
Lakkalikööri                       14.4
Laughing Lumberjack Lager          11.2
Nord-Ost Matjeshering              20.7
Outback Lager                      12.0
Rhönbräu Klosterbier                6.2
Röd Kaviar                         12.0
Sasquatch Ale                      11.2
Spegesild                           9.6
Steeleye Stout                     14.4
Name: Unit Price, dtype: float64

In [ ]:
#Objeto iloc (Integer Location): localización por índice. Permite acceder a filas/Columnas de un DataFrame usando los índices numéricos.
#iloc[x, y] (fila y columna). Los índices empiezan por 0.

print(trimestre2014.iloc[0,1])

#opciones con iloc:

#[20:30] veremos del índice 20 al 29 (30 no incluido). Si después de la ',' no ponemos nada, mostrará todas las columnas.
trimestre2014.iloc[20:30,]


#[20:30] veremos del índice 20 al 29 (30 no incluido). Si después de la ',' no ponemos nada, mostrará todas las columnas.
trimestre2014.iloc[20:30, [1,2]]

#Podemos mostrar las columnas  que queramos y en el orden que queramos. También el número o rango de filas.
trimestre2014.iloc[20:30, [2,1,5]]

#Para las filas, si ponemos ':' nos mostrará todas. Para las columnas basta con dejarlo en blanco.
trimestre2014.iloc[:,[2,1,5]]

Singaporean Hokkien Fried Mee

,Category,Product,Customer
0,Grains/Cereals,Singaporean Hokkien Fried Mee,Vins et alcools Chevalier
1,Dairy Products,Mozzarella di Giovanni,Vins et alcools Chevalier
2,Dairy Products,Queso Cabrales,Vins et alcools Chevalier
3,Produce,Tofu,Toms Spezialitäten
4,Produce,Manjimup Dried Apples,Toms Spezialitäten
...,...,...,...
180,Beverages,Sasquatch Ale,Island Trading
181,Beverages,Outback Lager,Island Trading
182,Seafood,Jack's New England Clam Chowder,Rattlesnake Canyon Grocery
183,Confections,Tarte au sucre,Rattlesnake Canyon Grocery
184,Beverages,Chai,Lonesome Pine Restaurant

In [ ]:
#Para el proximo día aprenderemos a recorrer un DataFrame con iloc.
#iloc es de lectura y escritura, por lo que podremos modificar los valores que necesitemos.
#Veremos como guardar un DataFrame y finalmente, SQL.