In [1]:
x=10

In [3]:
x+3

13

In [4]:
X=5
x+X
x+6

16

In [5]:
print("Imprime el resultado",x+9)

Imprime el resultado 19

In [6]:
print("Imprime el resultado",x+9)
print("Imprime el resultado",x+4)

Imprime el resultado 19
Imprime el resultado 14

In [9]:
dia = "Lunes"
dia2 = "Martes"
print("El día de la semana es", dia)
print("")
print("Mañana será", dia2)

El día de la semana es Lunes

Mañana será Martes

In [10]:
mes = input("Que mes es?")
print("El mes seleccionado es", mes)

El mes seleccionado es Marzo

In [12]:
lista1 = [12,25,"Lunes","Martes",67]
print(lista1[2])

Lunes

In [14]:
lista1.append("miércoles")
print(lista1)

[12, 25, 'Lunes', 'Martes', 67, 'miércoles', 'miércoles']

In [15]:
lista1.insert(0, "Sábado")
print(lista1)

['Sábado', 12, 25, 'Lunes', 'Martes', 67, 'miércoles', 'miércoles']

In [18]:
del lista1[5]

In [21]:
print(lista1)

['Sábado', 12, 25, 'Lunes', 'Martes']

In [20]:
lista1.remove("miércoles")

In [1]:
listaMeses = ["Enero", "Febrero", "Marzo", "Mayo", "Junio"]
print(listaMeses)
listaMeses.append("Julio")
listaMeses.append("Agosto")
print(listaMeses)
listaMeses.insert(3, "Abril")
print(listaMeses)
listaMeses.append("Marzo")
listaMeses.append("Junio")
print(listaMeses)
del listaMeses[8]
del listaMeses[8]
print(listaMeses)

['Enero', 'Febrero', 'Marzo', 'Mayo', 'Junio']
['Enero', 'Febrero', 'Marzo', 'Mayo', 'Junio', 'Julio', 'Agosto']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Marzo', 'Junio']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto']

In [2]:
i = 10
if i>5:
	print(i, "es mayor que 5")
else:
	print(i, "es menor o igual que 5")

10 es mayor que 5

In [5]:
i=input('Pon un número')
print(int(i)+3)

ValueError: invalid literal for int() with base 10: '3.4'

In [4]:
i=input('Pon un número:')
print(float(i)+3)

6.5

In [15]:
i=input('Pon un número:')
print(float(i))
if float(i)>20:
	print(float(i), "es mayor que 20")
else:
	print(float(i), "es menor o igual que 20")

21.5
21.5 es mayor que 20

In [16]:
i=int(input('Pon un número:'))
print(i)
if i>20:
	print(i, "es mayor que 20")
else:
	print(i, "es menor o igual que 20")

50
50 es mayor que 20

In [17]:
for i in [1, 2, 3, 4, 5]: 
	print("El valor de i es", i)

El valor de i es 1
El valor de i es 2
El valor de i es 3
El valor de i es 4
El valor de i es 5

In [18]:
for i in ["Barcelona", "Tarragona", "Lleida", "Girona"]:
        print("El valor de i es", i)

El valor de i es Barcelona
El valor de i es Tarragona
El valor de i es Lleida
El valor de i es Girona

In [19]:
listaNumeros = range (10)
list(listaNumeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
listaNumeros = range (10,26)
list(listaNumeros)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]

In [21]:
listaNumeros = range (10,26,2)
list(listaNumeros)

[10, 12, 14, 16, 18, 20, 22, 24]

In [22]:
print(listaNumeros)

range(10, 26, 2)

In [24]:
listaNumeros = range (50,20, -2)
list(listaNumeros)

[50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22]

In [25]:
for i in range(10):
	print(i)

0
1
2
3
4
5
6
7
8
9

In [31]:
iter = 1

for i in range(10,25,1):
	print("El valor de i", i)
	print("El número de iteración es", iter)
	iter+= 1

El valor de i 10
El número de iteración es 1
El valor de i 11
El número de iteración es 2
El valor de i 12
El número de iteración es 3
El valor de i 13
El número de iteración es 4
El valor de i 14
El número de iteración es 5
El valor de i 15
El número de iteración es 6
El valor de i 16
El número de iteración es 7
El valor de i 17
El número de iteración es 8
El valor de i 18
El número de iteración es 9
El valor de i 19
El número de iteración es 10
El valor de i 20
El número de iteración es 11
El valor de i 21
El número de iteración es 12
El valor de i 22
El número de iteración es 13
El valor de i 23
El número de iteración es 14
El valor de i 24
El número de iteración es 15