In [ ]:

#Como ver la cantidad de veces que esta repetido cada elemento en la serie, con
#la función value_counts()
numeros_VIP50.value_counts()
 
 #Como juntar 2 o + series de pandas, usaremos la función concat
# Numeros_Extra = pd.Series([34,22,28,61,36])
resultado = pd.concat([numeros_VIP50,Numeros_Extra],ignore_index=True)
print(resultado.sort_values(ascending=True,ignore_index=True))

In [9]:




#Los dataframes en pandas, son estructuras de 2 dimensiones (columnas / filas)
#Se pueden cargar de 2 maneras de manera manual o leyendo de un origen de datos
#puede ser desde un fichero plano (.csv, .txt, .json, .xlsx, .pdf) o de una base
#de datos MS Access, SQL Server, Oracle, Informix, MySQL, Postgres, MariaDB

import pandas as pd

#Paréntesis (), si es una función
#Corchete [], si hay +1 elemento
#LLave {}, para poner registro

#estructura json:
pedidos = pd.DataFrame([
    {'Cliente':'Comercial Pérez S.A','Precio Unidad':1.74,'Cantidad':29},
    {'Cliente':'Distribuciones López','Precio Unidad':2.68,'Cantidad':37},
    {'Cliente':'Almacenes Rodríguez','Precio Unidad':1.65,'Cantidad':64},
    {'Cliente':'Importadora García','Precio Unidad':2.23,'Cantidad':35},
    {'Cliente':'Mercantil Fernández','Precio Unidad':1.64,'Cantidad':19},
    {'Cliente':'Suministros Martínez','Precio Unidad':3.67,'Cantidad':22}
])
# Aquí visualizamos la tabla en formato DataFrame
pedidos

                Cliente  Precio Unidad  Cantidad
0   Comercial Pérez S.A           1.74        29
1  Distribuciones López           2.68        37
2   Almacenes Rodríguez           1.65        64
3    Importadora García           2.23        35
4   Mercantil Fernández           1.64        19
5  Suministros Martínez           3.67        22

In [10]:
# Como ver solamente un campo o serie:
pedidos['Cliente']

0     Comercial Pérez S.A
1    Distribuciones López
2     Almacenes Rodríguez
3      Importadora García
4     Mercantil Fernández
5    Suministros Martínez
Name: Cliente, dtype: object

In [12]:
# Como ver más de un campo o serie a la vez
pedidos[['Cliente', 'Precio Unidad']]

                Cliente  Precio Unidad
0   Comercial Pérez S.A           1.74
1  Distribuciones López           2.68
2   Almacenes Rodríguez           1.65
3    Importadora García           2.23
4   Mercantil Fernández           1.64
5  Suministros Martínez           3.67

In [ ]:
#Cuando vemos un campo, es lo mismo que ver una Serie, por lo tanto, podemos aplicar las funciones para éstas
pedidos['Cliente'].sort_values(ascending=True, ignore_index=True)

0     Almacenes Rodríguez
1     Comercial Pérez S.A
2    Distribuciones López
3      Importadora García
4     Mercantil Fernández
5    Suministros Martínez
Name: Cliente, dtype: object

In [17]:
#Como añadir un campo o Serie a un DataFrame:
# Opción 1: con un valor manual fijo (que será el mismo para todas las filas o registros) 

pedidos['Zona'] = 'Zona Centro'
pedidos

# Opción 2: con la función apply() 
# ejemplo: vamos a sumar 2 unidades a cantidad para las cantidades > 25 y restar 3 unidades a cantidad para las <=25

def modificar_cant(x):
    if x>25:
        return x+2
    else:
        return x-3
    
#Aplicamos la función
pedidos['Cantidad2'] = pedidos['Cantidad'].apply(modificar_cant)
pedidos
    
# Opción 3: partiendo de una columna existente
pedidos['Cantidad3'] = pedidos['Cantidad'] + 10
pedidos['Cantidad4'] = pedidos['Cantidad'] + pedidos['Cantidad2']
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60
1,Distribuciones López,2.68,37,Zona Centro,39,47,76
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130
3,Importadora García,2.23,35,Zona Centro,37,45,72
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41

In [26]:

pedidos['dif_cantidad'] = pedidos['Cantidad'].max() - pedidos['Cantidad']
pedidos['Transportista'] = 'Seur'
def incremento(x):
    if x>1.70:
        return x*1.10
    else:
        return x

pedidos['Precio Uniad2'] = pedidos['Precio Unidad'].apply(incremento)
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista,Precio Uniad2
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60,35,Seur,1.914
1,Distribuciones López,2.68,37,Zona Centro,39,47,76,27,Seur,2.948
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130,0,Seur,1.650
3,Importadora García,2.23,35,Zona Centro,37,45,72,29,Seur,2.453
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35,45,Seur,1.640
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41,42,Seur,4.037

In [27]:
# Como eliminar una columna de un DataFrame: drop + el parámetro axis:

pedidos = pedidos.drop(['Precio Uniad2'], axis=1)
# axis=1 significa eliminar la columna
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60,35,Seur
1,Distribuciones López,2.68,37,Zona Centro,39,47,76,27,Seur
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130,0,Seur
3,Importadora García,2.23,35,Zona Centro,37,45,72,29,Seur
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35,45,Seur
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41,42,Seur

In [ ]:
#En una sola línea sin el = puedo machacar el original. Eliminaremos Zona
pedidos.drop(['Zona'], axis=1, inplace=True)
#el inplace=True equivale a in situ
#Se puede hacer así directamente: pedidos.drop(['Zona'])
pedidos

,Cliente,Precio Unidad,Cantidad,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista
0,Comercial Pérez S.A,1.74,29,31,39,60,35,Seur
1,Distribuciones López,2.68,37,39,47,76,27,Seur
2,Almacenes Rodríguez,1.65,64,66,74,130,0,Seur
3,Importadora García,2.23,35,37,45,72,29,Seur
4,Mercantil Fernández,1.64,19,16,29,35,45,Seur
5,Suministros Martínez,3.67,22,19,32,41,42,Seur

In [30]:
#Si queremos eliminar filas: axis=0 en drop() con número de índice
pedidos.drop([3], axis=0, inplace=True)
pedidos

,Cliente,Precio Unidad,Cantidad,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista
0,Comercial Pérez S.A,1.74,29,31,39,60,35,Seur
1,Distribuciones López,2.68,37,39,47,76,27,Seur
2,Almacenes Rodríguez,1.65,64,66,74,130,0,Seur
4,Mercantil Fernández,1.64,19,16,29,35,45,Seur
5,Suministros Martínez,3.67,22,19,32,41,42,Seur

In [ ]:
#Como colocar un DataFrame mediante un fichero. Iremos a GitHub y descargaremos el #January 2019.csv, February 2019.csv y March 2019.csb