In [13]:
# Practica 1: Crear una lista con los meses de enero a junio (excepto abril). Luego:
#    - Añadir julio y agosto.
#    - Insertar abril en su lugar correcto.
#    - Añadir marzo y junio al final.
#    - Eliminar los elementos desordenados.
#        - Respuesta:
            
            
listaMeses = ["Enero", "Febrero", "Marzo", "Mayo", "Junio"]
print(listaMeses)
listaMeses.append("Julio")
listaMeses.append("Agosto")
print(listaMeses)
listaMeses.insert(3, "Abril")
print(listaMeses)
listaMeses.append("Marzo")
listaMeses.append("Junio")
print(listaMeses)
del listaMeses[8:9]
print(listaMeses)

['Enero', 'Febrero', 'Marzo', 'Mayo', 'Junio']
['Enero', 'Febrero', 'Marzo', 'Mayo', 'Junio', 'Julio', 'Agosto']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Marzo', 'Junio']
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Junio']

In [ ]:
# Practica 2: Escribir un programa que pida un número y determine si es mayor o menor que 20
i=int(input('Pon un número:'))
print(i)
if i>20:
    print(i, "es mayor que 20")
else:
    print(i, "es menor o igual que 20")

In [ ]:
#Practica 2 Bis: lo mismo, pero con números decimales.

i=input('Pon un número:')
print(float(i))
if float(i)>20:
    print(float(i), "es mayor que 20")
else:
    print(float(i), "es menor o igual que 20")

2.5
2.5 es menor o igual que 20

In [ ]:
#Practica 3:Mediante un bucle que recorra los dias de la semana que estan en la lista semana
#mostrar un texto en cada iteración que ponga "El dia de la semana es XXX"
dias =['Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo']
for dia in dias:
    print('El día de la semana es', dia)

El día de la semana es Lunes
El día de la semana es Martes
El día de la semana es Miércoles
El día de la semana es Jueves
El día de la semana es Viernes
El día de la semana es Sábado
El día de la semana es Domingo

In [ ]:
#Practica 4: Mediante un bucle que recorra y muestre con un texto la siguiente lista de numeros [15,37,42,18,26,64,75], "el numero es X"
numeros=[15,37,42,18,26,64,75]
for numero in numeros:
    print('El número es', numero)

El número es 15
El número es 37
El número es 42
El número es 18
El número es 26
El número es 64
El número es 75

In [ ]:
#Practica 5: Mediante un bucle que recorra y muestre con un texto una lista generada con range, para ver desde el numero 6 hasta el 23, con el texto "el numero es X"
numeros=range(6,24)
for numero in numeros:
    print('El número es', numero)

El número es 6
El número es 7
El número es 8
El número es 9
El número es 10
El número es 11
El número es 12
El número es 13
El número es 14
El número es 15
El número es 16
El número es 17
El número es 18
El número es 19
El número es 20
El número es 21
El número es 22
El número es 23

In [ ]:
#Practica 6: Mediante un bucle que recorra y muestre con un texto una lista generada con range, para ver desde el numero 54 hasta el 12, de dos en dos con el texto "el numero es X"
numeros=range(54,11, -2)
for i in numeros:
    print('El número es', i)

El número es 54
El número es 52
El número es 50
El número es 48
El número es 46
El número es 44
El número es 42
El número es 40
El número es 38
El número es 36
El número es 34
El número es 32
El número es 30
El número es 28
El número es 26
El número es 24
El número es 22
El número es 20
El número es 18
El número es 16
El número es 14
El número es 12

In [ ]:
#Practica 7: Mediante un bucle que recorra y muestre la lista de los meses del año y mostrar un texto que ponga, "El 1 mes del año es enero", "el 2 mes del año es febrero"
meses=['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
i=1
for x in meses:
    print('El ',i ,' mes del año es', x)
    i+=1

El  1  mes del año es Enero
El  2  mes del año es Febrero
El  3  mes del año es Marzo
El  4  mes del año es Abril
El  5  mes del año es Mayo
El  6  mes del año es Junio
El  7  mes del año es Julio
El  8  mes del año es Agosto
El  9  mes del año es Septiembre
El  10  mes del año es Octubre
El  11  mes del año es Noviembre
El  12  mes del año es Diciembre

In [ ]:
#Practica 8: Mediante un bucle que recorra y muestre la lista de los meses del año y mostrar un texto que ponga, "El primer mes del año es enero", "el segundo mes del año es febrero"
meses=['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
orden=['primer','segundo','tercero','cuarto','quinto','sexto','septimo','octavo','noveno','décimo','undécimo','decimosegundo']
i=0
for x in meses:
    print('El ',orden[i] ,' mes del año es', x)
    i+=1

El  primer  mes del año es Enero
El  segundo  mes del año es Febrero
El  tercero  mes del año es Marzo
El  cuarto  mes del año es Abril
El  quinto  mes del año es Mayo
El  sexto  mes del año es Junio
El  septimo  mes del año es Julio
El  octavo  mes del año es Agosto
El  noveno  mes del año es Septiembre
El  décimo  mes del año es Octubre
El  undécimo  mes del año es Noviembre
El  decimosegundo  mes del año es Diciembre

In [ ]:
#Practica 9: Con un bucle for recorrer la siguiente lista [5, -8, 142, 75, 62, 37, -20, 41] y clasificar los números por tramos de 30 en 30, empezando por el 0, y debe indicar un texto donde me diga "el número X está comprendido entre 0 y 30. Si no está en ningún tramo, debe decirlo.

numeros = [5, -8, 142, 75, 62, 37, -20, 41] 
for numero in numeros:
    if numero >=0 and numero <= 30:
        print("El numero", numero, "está en el rango 0-30")
    elif numero >30 and numero <= 60:
        print("El numero", numero, "está en el rango 31-60")
    elif numero >60 and numero <= 90:
        print("El numero", numero, "está en el rango 61-90")
    elif numero >90 and numero <= 120:
        print("El numero", numero, "está en el rango 91-120")
    elif numero >120 and numero <= 150:
        print("El numero", numero, "está en el rango 121-150")
    else:
        print("El numero", numero, "está fuera de rango")

El numero 5 está en el rango 0-30
El numero -8 está fuera de rango
El numero 142 está en el rango 121-150
El numero 75 está en el rango 61-90
El numero 62 está en el rango 61-90
El numero 37 está en el rango 31-60
El numero -20 está fuera de rango
El numero 41 está en el rango 31-60

In [ ]:
#Practica 10: Imprimir por separado y con un bucle, las letras de la palabra Supercalifragilisticoespialidoso, en mayusculas menos la letra a

palabra = "Supercalifragilisticoespialido"
for letra in palabra:
    if letra != 'a':
        print(letra.upper())

S
U
P
E
R
C
L
I
F
R
G
I
L
I
S
T
I
C
O
E
S
P
I
L
I
D
O

In [ ]:
#Practica 11: Mediante una lista de numeros [28,15,32,7,44,35,62,73,19] imprimit los numeros
#por indivisual, mientras la suma de los valores impresos sea menor de 180


numeros = [28,15,32,7,44,35,62,73,19]
suma = 0
for numero in numeros:
    suma+=numero
    if suma>= 180: break
    print("El nuevo numero es:",numero, "y la suma total hasta ahora es ", suma)

El nuevo numero es: 28 y la suma total hasta ahora es  28
El nuevo numero es: 15 y la suma total hasta ahora es  43
El nuevo numero es: 32 y la suma total hasta ahora es  75
El nuevo numero es: 7 y la suma total hasta ahora es  82
El nuevo numero es: 44 y la suma total hasta ahora es  126
El nuevo numero es: 35 y la suma total hasta ahora es  161

In [17]:
#Practica 12: Mostrar unicamente la cuarta palabra de la variable frase = "Esta es una frase de prueba para la practica 12"

frase = "Esta es una frase de prueba para la practica 12"
print(frase.split()[3])

frase

In [ ]:
#Practica 13: Crear una función personalizada, que resta 4 a un numero y lo divido por 2 pero que me devuelva un texto como resultado "el resultado es x"
 
def resta4(a,b):
    return print("El resultado es",(a-b)/2) 

resta4(int(input("Introduce numero a:")), int(input("Introduce numero b:")))

El resultado es 4.0

In [31]:
#Practica 14: Crear una función que me devuelva el area de un triangulo (lo devuelva como valor)

def area(b, h):
    return round((b*h)/2,2)

areatriangulo = area(int(input("Dime la base:")), int(input("Dime la altura:")))
print("El area del triangulo es de", areatriangulo )

El area del triangulo es de 12.5

In [30]:
#Practica 15: Crear una función que me pasandole como parametro un numero, mediante la función input, y que me devuelva el mes en letras correspondiente (cuidado si el numero no esta entre 1 y 12)
meses=['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']
def mes(numero):
    if numero>0 and numero<=12:
        print("El mes escogido es el", meses[numero-1])
    else:
        print("Error en el numero de mes.")

mes(int(input("Introduce el numero de un mes en números:")))

Error en el numero de mes.

In [ ]:
#Practica 16: Crear una función que compare dos numeros (a y b) y me devuelva los 3 posibles resultados en un texto, "el numero a es mayor que b", "el numero b es mayor que a"
def comparar(a,b):
    if a>b:
        print("El numero a es mayor que b", a, ">", b)
    elif a<b:
         print("El numero b es mayor que a", b, ">", a)
    else:
        print("El numero a y el numero b son iguales", b, "=", a)

comparar(float(input("Dime un numero:")),float(input("Dime otro numero:")))

El numero a es mayor que b 5.4 > 2.2

In [9]:
#Practica 17: Mediante un bucle While, imprimir el valor de una variable i con un valor inicial de 10, siempre y cuando el valor de i sea <50. La variable se incrementará de 2 en 2.

i=10
while i<50:
    print(i)
    i+=2

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48

In [21]:
#Practica 18: Crear una función para que pasandole por separado, el dia, el mes y el año nos devuelva un texto que ponga "la diferencia de dias entre hoy y la fecha informada yyyy/mm/dd es de X dias", siempre y cuando la fecha informada sea mas antigua que hoy
from datetime import date
def diferenciadias(dia, mes, ano):
    fecha1 = date(ano, mes, dia)
    fecha2 = date.today()
    if fecha2<fecha1:
        print("la fecha aportada debe ser anterior a hoy")
    else:
        print(fecha1, "-", fecha2)
        dias = fecha2 - fecha1
        print("Han pasado",(fecha2 - fecha1).days, "dias.")

dia = int(input("Introduce un día del año"))
mes = int(input("Introduce un día del año"))
ano = int(input("Introduce un día del año"))
diferenciadias(dia, mes, ano)

2003-04-26 - 2025-02-28
Han pasado 7979 dias.

In [29]:
#Practica 19:Crear una función con 3 parámetros, a los que le daremos valor mediante inputs y que corresponderán a día, mes y año. La función nos debe devolver un texto con la fecha en formato mm/dd/aa.
from datetime import date
def fechacorta(dia, mes, ano):
    fecha = date(ano, mes, dia)
    print("La fecha es",fecha.strftime('%m/%d/%y'))

fechacorta(int(input("Introduce día:")), int(input("Introduce mes:")), int(input("Introduce año:")))

La fecha es 03/02/84

In [ ]:
#Práctica 20: Crear una función para almacenar en una variable que se llamará semana, que después de informarle de una fecha mediante input en el formato dd-mm-aaaa (una sola variable), almacene el valor de la semana de la fecha aportada.



from datetime import date
def semanaenmes(semana): 
    semanalista = semana.split('-')
    fecha = date(int(semanalista[2]), int(semanalista[1]), int(semanalista[0]))
    print("La semana del año de la fecha aportada es", fecha.strftime('%W'))

semana = input("Introduce una fecha en formato dd-mm-aaaa:")
semanaenmes(semana)

#dia, mes, año = fecha.split('-'): si no coinciden los parámetros, dará error. Hay que hacer un control de excepciones.

La semana del año de la fecha aportada es 00

In [1]:
#Practica 21: Calcular los segundos transcurridos entre dos ejecuciones de celdas de Júopiter diferentes (ejecutar una celda, esperar unos segundos y al ejecutar la segunda celda, que nos diga cuantos seegundos han transcurridos).

from datetime import datetime

ahora1= datetime.now()

In [10]:
ahora2 =datetime.now()

print((ahora2-ahora1))

0:00:04.093187

In [ ]:
#Practica 22: Partiendo de 4 listas, en la primera contendra las fechas en formato 
# mes@dia@año, la segunda dias en numero, la tercera horas en numero, la cuarta minutos en numero.
#El objetivo es generar una lista resultante que contenga el incremento de dias, horas y minutos, de cada elemento de la lista, teniendo en cuenta el mismo numero de orden o de indice
#Lista 1       Lista 2     Lista 3      Lista 4    ->           Lista 5
#05@11@2024          8          20           18        19/05/2024 20:18

#Fechas = ["03@15@2012", "07@22@2025", "11@09@2030", "05@30@2018", "09@14@2007", "01@03@2021"]

#Días = [23, 47, 35, 12, 50, 29]
#Horas = [7, 19, 3, 22, 11, 16]
#Minutos = [42, 7, 33, 58, 21, 14]

from datetime import datetime, timedelta


fechas = ["03@15@2012", "07@22@2025", "11@09@2030", "05@30@2018", "09@14@2007", "01@03@2021"]
dias = [23, 47, 35, 12, 50, 29]
horas = [7, 19, 3, 22, 11, 16]
minutos = [42, 7, 33, 58, 21, 14]
#Creamos una lista en blanco:
fechas_finales=[]


for i in range(6):
    fecha = datetime.strptime(fechas[i], "%m@%d@%Y")
    #Pasamos un string en formato día@mes@año largo a fecha
    fechas_finales.append(fecha + timedelta(days=dias[i], hours=horas[i], minutes=minutos[i]))
    #Le aumentamos a la fecha creada con el string, x días, x horas y x minutos y lo pasamos a la lista:
    print(fechas_finales[i])

In [ ]:
# ------------------------------------- Series -------------------------------------

In [ ]:
#¿Cómo interpretar una varianza?

#La varianza es difícil de interpretar, en su lugar se usa la desviación estándar (o típica), que tiene las mismas unidades que los datos originales.

#La desviacion tipica es la raiz cuadrada de la variancia. La desviación típica tiene las mismas unidades que los datos, y nos muestra cómo se distribuyen los datos alrededor del valor medio. En nuestro ejemplo no hay unidades, pero esto se cumple igual: var = (std)^2

In [ ]:
#Practica 23: Crearemos una serie de pandas, con los siguientes numeros [34,124,81,9,81,67,124,34,15,47,81,124,9,67,22] a esta serie le llamaremos numeros_VIP, clonaremos esta serie para tener solamente los numeros de la serie que sean mayores de 50, en orden ascendente y reindexado. a esta nueva serie le llamarenos numeros_VIP50, 
# a esta nueva serie le aplicaremos una función por la cual si el numero esta entre 60-85, le sumaremos 10 y si no esta entre 60-85 le restaremos 5.
#Redondeado a 3 decimales 
# Ver en un texto el promedio de la serie numeros_VIP50 
# Ver en un texto la desviación tipica de a serie numeros_VIP50 
# Ver en un texto la varianza de la serie numeros_VIP50 
# #Normal 
# Ver la suma acumulada serie numeros_VIP50

#Practica 23
import pandas as pd
#Crear la lista de numeros VIP
lista_VIP = [34,124,81,9,81,67,124,34,15,47,81,124,9,67,22]
numeros_VIP = pd.Series(lista_VIP)
print(numeros_VIP)
print()     #Una linea en blanco
#Clonar la serie siempre >50 y ordenado + reindexado
numeros_VIP50 = numeros_VIP[numeros_VIP>50].sort_values(ascending=True, ignore_index=True)
print(numeros_VIP50)
#Crear la función
def modificar_numero(x):
    if x>=60 and x<=85:   #Dentro del tramo 60-85
        return x+10
    else:
        return x-5
#Reasignarle a la serie
numeros_VIP50 = numeros_VIP50.apply(modificar_numero)

print(numeros_VIP50)
#Ver los enunciados
print("El promedio es",round(numeros_VIP50.mean(),3))
print("La desviación tipica es",round(numeros_VIP50.std(),3))
print("El promedio es",round(numeros_VIP50.var(),3))
#El acumulado
print("El promedio es",numeros_VIP50.cumsum())

0      34
1     124
2      81
3       9
4      81
5      67
6     124
7      34
8      15
9      47
10     81
11    124
12      9
13     67
14     22
dtype: int64

0     67
1     67
2     81
3     81
4     81
5    124
6    124
7    124
dtype: int64
0     77
1     77
2     91
3     91
4     91
5    119
6    119
7    119
dtype: int64
El promedio es 98.0
La desviación tipica es 18.33
El promedio es 336.0
El promedio essssssssssssssssssssssssssss 0     77
1    154
2    245
3    336
4    427
5    546
6    665
7    784
dtype: int64

In [25]:
#Practica 23: Crearemos una serie de pandas, con los siguientes numeros [34,124,81,9,81,67,124,34,15,47,81,124,9,67,22] a esta serie le llamaremos numeros_VIP, clonaremos esta serie para tener solamente los numeros de la serie que sean mayores de 50, en orden ascendente y reindexado. a esta nueva serie le llamarenos numeros_VIP50, 
# a esta nueva serie le aplicaremos una función por la cual si el numero esta entre 60-85, le sumaremos 10 y si no esta entre 60-85 le restaremos 5.
#Redondeado a 3 decimales 
# Ver en un texto el promedio de la serie numeros_VIP50 
# Ver en un texto la desviación tipica de a serie numeros_VIP50 
# Ver en un texto la varianza de la serie numeros_VIP50 
# #Normal 
# Ver la suma acumulada serie numeros_VIP50

import pandas as pd
numeros = [34,124,81,9,81,67,124,34,15,47,81,124,9,67,22]
numeros_VIP = pd.Series(numeros)
filtro = numeros_VIP>50
numeros_VIP50 = numeros_VIP[filtro].sort_values(ascending=True, ignore_index=True)
print(list(numeros_VIP50))


def filtracion(x):
    if x>65 and x<85:
        return x+10
    else:
        return x-5

numeros_VIP50=numeros_VIP50.apply(filtracion)
print(list(numeros_VIP50))

print("El promedio es",round(numeros_VIP50.mean(),3))
print("La desviación tipica es",round(numeros_VIP50.std(),3))
print("El promedio es",round(numeros_VIP50.var(),3))
print("El acumulado es",numeros_VIP50.cumsum())

[67, 67, 81, 81, 81, 124, 124, 124]
[77, 77, 91, 91, 91, 119, 119, 119]
El promedio es 98.0
La desviación tipica es 18.33
El promedio es 336.0
El acumulado es 0     77
1    154
2    245
3    336
4    427
5    546
6    665
7    784
dtype: int64

In [ ]:
# ------------------------------------- DataFrames -------------------------------------

In [2]:
# Practica 24:Crear el DataFrame pedidos de los ejercicios de hoy, y crear un campo nuevo que se llamará 
# dif_cantidad y que me dará la diferencia que hay entre la cantidad más grande de toda la serie y la cantidad de cada fila.
import pandas as pd
pedidos = pd.DataFrame([
    {'Cliente':'Comercial Pérez S.A','Precio Unidad':1.74,'Cantidad':29},
    {'Cliente':'Distribuciones López','Precio Unidad':2.68,'Cantidad':37},
    {'Cliente':'Almacenes Rodríguez','Precio Unidad':1.65,'Cantidad':64},
    {'Cliente':'Importadora García','Precio Unidad':2.23,'Cantidad':35},
    {'Cliente':'Mercantil Fernández','Precio Unidad':1.64,'Cantidad':19},
    {'Cliente':'Suministros Martínez','Precio Unidad':3.67,'Cantidad':22}
])

pedidos['Cliente'].sort_values(ascending=True, ignore_index=True)

pedidos['Zona'] = 'Zona Centro'

def modificar_cant(x):
    if x>25:
        return x+2
    else:
        return x-3  

pedidos['Cantidad2'] = pedidos['Cantidad'].apply(modificar_cant)

pedidos['Cantidad3'] = pedidos['Cantidad'] + 10
pedidos['Cantidad4'] = pedidos['Cantidad'] + pedidos['Cantidad2']

# Practica

pedidos['dif_cantidad'] = pedidos['Cantidad'].max() - pedidos['Cantidad']
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4,dif_cantidad
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60,35
1,Distribuciones López,2.68,37,Zona Centro,39,47,76,27
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130,0
3,Importadora García,2.23,35,Zona Centro,37,45,72,29
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35,45
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41,42

In [ ]:
#Practica 25: Crear en el DataFrame una columna nueva que se llame transportista, cuyo valor sea 'SEUR'
pedidos['Transportista'] = 'Seur'
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60,35,Seur
1,Distribuciones López,2.68,37,Zona Centro,39,47,76,27,Seur
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130,0,Seur
3,Importadora García,2.23,35,Zona Centro,37,45,72,29,Seur
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35,45,Seur
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41,42,Seur

In [ ]:
#Practica 26: Crear en el DataFrame pedidos, la columna nueva Precio Unidad2 que incremente sobre la Serie Precio Unidad un 10% si el precio unidad es >1.70

def incremento(x):
    if x>1.70:
        return x*1.10
    else:
        return x

pedidos['Precio Uniad2'] = pedidos['Precio Unidad'].apply(incremento)
pedidos

,Cliente,Precio Unidad,Cantidad,Zona,Cantidad2,Cantidad3,Cantidad4,dif_cantidad,Transportista,Precio Uniad2
0,Comercial Pérez S.A,1.74,29,Zona Centro,31,39,60,35,Seur,1.914
1,Distribuciones López,2.68,37,Zona Centro,39,47,76,27,Seur,2.948
2,Almacenes Rodríguez,1.65,64,Zona Centro,66,74,130,0,Seur,1.650
3,Importadora García,2.23,35,Zona Centro,37,45,72,29,Seur,2.453
4,Mercantil Fernández,1.64,19,Zona Centro,16,29,35,45,Seur,1.640
5,Suministros Martínez,3.67,22,Zona Centro,19,32,41,42,Seur,4.037

In [26]:
ventas = pd.read_csv(r".\DataFrames\January 2019.csv")

In [64]:
# Practica 27: Queremos tener un objeto clonado de ventas que contenga unicamente los Customers cuyo nombre contenga la palabra 'Systems' y el Customer debe estar ordenado alfabéticamente.
ventas_systems = ventas[ventas['Customer'].str.contains('Systems')].sort_values(ascending=True, by='Customer')
ventas_systems

,IdOrder,Date,Country,Units,Revenue,Customer
16,17,2019-01-15,Colombia,392,16229.64,Cyberdyne Systems
78,79,2019-01-13,Panama,283,24813.10,Cyberdyne Systems
123,124,2019-01-03,Colombia,10,729.39,Cyberdyne Systems
132,133,2019-01-24,Panama,146,10130.00,Cyberdyne Systems
136,137,2019-01-06,Colombia,56,535.82,Cyberdyne Systems
152,153,2019-01-23,Panama,212,8763.35,Cyberdyne Systems
159,160,2019-01-22,Canada,239,755.94,Cyberdyne Systems
23,24,2019-01-07,Canada,306,4131.21,Hyperion Systems
51,52,2019-01-01,Brazil,86,1264.87,Hyperion Systems
109,110,2019-01-04,Colombia,251,16268.15,Hyperion Systems
137,138,2019-01-22,Colombia,399,13430.62,Hyperion Systems
10,11,2019-01-27,Canada,187,4046.31,Yoyodyne Propulsion Systems
127,128,2019-01-04,USA,330,10523.01,Yoyodyne Propulsion Systems

In [67]:
# Practica 28:Queremos ver en un texto, el número de Customers cuyo nombre termina por 'n'.
print("El número de Customer que terminan por la letra 'n' es:", ventas[ventas['Customer'].str.endswith('n')].IdOrder.count())

El número de Customer que terminan por la letra 'n' es: 40

In [69]:
# Práctica 29: Queremos ver una lista con los 10 primeros Customers que són de Canadá.
ventas2 = ventas[ventas['Country']=='Canada'].head(10)
ventas2['Customer']

5               Spacely Sprockets
6                          BiffCo
7              Delos Incorporated
8               Monarch Solutions
10    Yoyodyne Propulsion Systems
23               Hyperion Systems
24                        Initech
28                   Soylent Corp
33             Tyrell Corporation
35                         Oscorp
Name: Customer, dtype: object

In [57]:
# Práctica 30: Queremos ver en un texto el número de registros cuyo IdOrder >180
print("El número de registros cuyo IdOrder es mayor que 180 son:", ventas[ventas['IdOrder']>180].IdOrder.count())

El número de registros cuyo IdOrder es mayor que 180 son: 9

In [ ]:
#Práctica 31: Queremos averiguar la suma total de Revenue después de haber juntado los datos de los 3 ficheros .csv y queremos ver este total solamente de los países que son 'USA' o 'Canada' y cuyo importe está comprendido entre 3000 y 12000

ventas_enero = pd.read_csv(r".\DataFrames\January 2019.csv")
ventas_febrero = pd.read_csv(r".\DataFrames\February 2019.csv")
ventas_marzo = pd.read_csv(r".\DataFrames\March 2019.csv")

enero = ventas_enero['Country']